<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>demo_unlock.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>16</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A1920B94845CB0A71182CF65CF4643F1E679970C</string>
				<key>dateExpires</key>
				<string>11/20/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1920B94845CB0A71182CF65CF4643F1E679970C</string>
						<key>dateExpires</key>
						<string>11/20/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5ACW7JLQKV</string>
						<key>name</key>
						<string>Ngoc Phuong Uyen Le</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1920B94845CB0A71182CF65CF4643F1E679970C</string>
						<key>dateExpires</key>
						<string>11/20/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5ACW7JLQKV</string>
						<key>name</key>
						<string>Ngoc Phuong Uyen Le</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1920B94845CB0A71182CF65CF4643F1E679970C</string>
						<key>dateExpires</key>
						<string>11/20/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5ACW7JLQKV</string>
						<key>name</key>
						<string>Ngoc Phuong Uyen Le</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1920B94845CB0A71182CF65CF4643F1E679970C</string>
						<key>dateExpires</key>
						<string>11/20/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5ACW7JLQKV</string>
						<key>name</key>
						<string>Ngoc Phuong Uyen Le</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1920B94845CB0A71182CF65CF4643F1E679970C</string>
						<key>dateExpires</key>
						<string>11/20/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>terminate_restart.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5ACW7JLQKV</string>
						<key>name</key>
						<string>Ngoc Phuong Uyen Le</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5ACW7JLQKV.com.g1dev.no6</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5ACW7JLQKV</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0552b54f-5102-46ec-83e5-807e5d6d741c</string>
				<key>dateExpires</key>
				<string>11/20/26</string>
				<key>name</key>
				<string>dev-no6-adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5ACW7JLQKV</string>
				<key>name</key>
				<string>Ngoc Phuong Uyen Le</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
